<div class="f-sub-header">
    <h4><i class="icon-user" style="margin:0 10px"></i> 选择浏览人员</h4>
</div>
<div>
    <div class="controls">
        <div class="input-append">
            <input style="width: 160px;" id="appendedInput" size="16" type="text"><span class="add-on"><i class="icon-filter"></i></span>
        </div>
    </div>
</div>

<div>
    <ul class="f-ul">
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> 所有人 <input type="checkbox"></li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> Tom <input type="checkbox"></li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> John <input type="checkbox"></li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> Cathy <input type="checkbox"></li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> York <input type="checkbox"></li>
    </ul>
</div>