<div class="f-sub-header">
    <h4><i class="icon-share" style="margin:0 10px"></i> 分享工作日志</h4>
</div>
<div>
    <div class="controls">
        <div class="input-append">
            <input style="width: 160px;" id="appendedInput" size="16" type="text"><span class="add-on"><i class="icon-search"></i></span>
        </div>
    </div>
</div>

<div>
    <ul class="f-ul">
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> Tom</li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> John</li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> Cathy</li>
        <li><img src="/res/imgs/default-avatar.png" alt="photo" class="normal-avatar"> York</li>
    </ul>
</div>

<strong>{0}</strong>,您好！ <br>
恭喜！您将成为TeamLog的首位用户，拥有邀请用户和禁用用户的权限。请<a href="{1}">激活</a>您的帐户。<br>
如果链接失效，请拷贝下面的链接在浏览器的地址栏中直接访问。<br>
<br>
{2}
